<!DOCTYPE html>
<html>
  <head>
    <title>Admin Site <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Admin Site</p>
    <%- body %>
  </body>
</html>